<meta charset="UTF-8">
<title>cycycybot showemote</title>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
  }

  .fade-in-out {
    opacity: 1;
    animation: fade 6s;
  }

  @keyframes fade {

    0%,
    100% {
      opacity: 0
    }

    25%,
    75% {
      opacity: 1
    }
  }
</style>